<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RECEPTI</title>
    <link href="/public/style.css">
</head>
<body>
    <h1>Recepti</h1>
    <ul>
        <li> <a href="/addRecept">Dodaj recept</a> </li>
        <li> <a href="/recepti">Lista recepata</a> </li>
    </ul>
</body>
</html>