<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/public/style.css">
</head>
<body>
    <h1>Lista korisnika</h1>
    <ul>
        <% recept.forEach(recept => { %>
            <li> <%= recept.brojRecepta %> - <%= recept.recept %> </li>
        <% }) %>
    </ul>
    <a href="/">Vrati se na poÄetnu</a>
</body>
</html>